<!DOCTYPE html>
<html>
  <head>
    <title>Rails5Sandbox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to('Sandboxes', sandboxes_path) %>
      <%= link_to('Widgets', widgets_path) %>
    </nav>
    <% flash.each do |key, message| %>
      <p<%= flash_style(key) %>><%= "#{key.capitalize}: #{message}" %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
